body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fontes/OpenSans-Light.ttf');
}

a{
    font-family: OpenSans-Light;
}

h1{
    font-family: OpenSans-Light;
}

h3{
    font-family: OpenSans-Light;
    font-weight: normal!important;
}

p{
    font-family: OpenSans-Light;
}

ul {
    padding: 0px !important;
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px; 
}

main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    float: left;
    padding: 3px;
    width: 70%;
}

.redes-sociais ul li{
    margin-left: 20px;
    display: inline-block;
    padding: 3px;
    float: left;
}

.redes-sociais{
    float: right;
    width: 25%;
}

.header-2{
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li {
    display: inline-block;
    margin-left: 15px;
    color: #8b8b8b;
    height: 50px;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu {
    width: 70%;
    float: left;
}

.busca {
    text-align: center;
    width: 30%;
    float: right;
}

.busca input {
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 95%;
    width: 190px;
    height: 35px;
    padding: 6px;
    margin-top: 7px;
    border: 1px solid #d6d6d6;
}

.col-100 {
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrowback.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    left: 10%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrownext.png');
    position: absolute;
    z-index: 9;
    top: 35%;
    right: 10%;  
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    left: 47%;
    position: absolute;
    top: 600px;
}

.slick-dots li{
    display: inline-block;
    padding-left: 5px;
}

.slick-dots li button{
    font-size: 0px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}

li.slick-active button{
    background-color: #00bac6; 
}

.slick-list{
    width: 100%!important;
}

.slick-initialized{
    overflow: hidden;
}

.texto-destaque{
    margin-top: 50px;
    text-align: center;
}

.texto-destaque h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #818181;
}

.texto-destaque strong{
    color: #646464;
}

.texto-destaque p{
    font-size: 15px;
    color: #9a9a9a;
}

.col-3{
    width: 33%;
    float: left;
    position: relative;
}

.bloco-texto{
    margin-top: 3em;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
    width: 30%;
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-bottom: 10px;  
    margin-left: 15px;  
}

.bloco-imagem b, p {
    text-align: center;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}

.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 50px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 

.slider-secundario img{
    margin: 0 auto;
}